body {
  background-color: aliceblue;
  padding: 20px;
}

h1,
h3 {
  color: #66bfbf;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.hv:hover {
  background-color: goldenrod;
  width: 20%;
}
table {
  font-size: 18;
  text-align: left;
}
